<%= turbo_stream_from "comparisons" %>
<table id='verified-scans-table'>
    <thead>
        <tr>
            <th>Scan ID</th>
            <th>Created At</th>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        <% scans.each do |scan| %>
            <%= render partial: 'verified_scan_row', locals: { scan: scan } %> 
        <% end %>
    </tbody>
</table>
